<!-- Start Contact Section -->
<div id="contact">
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 text-center">
				<img src="images/lms-logo2.png">
				<p>Feel free to contact with any questions or inquiries!</p>
				<strong>Our Location</strong>
				<p>2801 South West 3rd Ave, Unit F3<br>Ft.Lauderdale, FL 33315</p>
				<strong>Contact Info:</strong>
				<p>(954) 706-2270<br>info@lmspev.com</p>
			</div>
		</div><!--End Row-->
	</div><!--End of Container FluidFooter-->
</div><!-- End of Contact Section-->