body {
	overflow-x: hidden;
  	font-family:sans-serif;
  	color: #505962;
}
.navbar {
	text-transform:uppercase;
	background-color: #505962;
}
.home-inner {
	background-image: url('images/royalbean.jpg');
}

a {
  color: #00B7FF;
}

.navbar-brand img {
	height: 2rem;
}


