body {
	overflow-x: hidden;
  	font-family:sans-serif;
  	color: #505962;
}

.navbar {
	text-transform:uppercase;
	background-color: #505962;
}

.navbar-brand img{
	height:2rem;
}

.jumbotron{
	color:white;
	background-image: url("/images/dock.jpg");
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -40px;
	background-attachment: fixed;
	background-position: center -238px;
}

.jumbotron h1{
	text-align:left;
	font-weight: bold;
}

.jumbotron p{
	font-weight:bold;
}

#about {
	margin-top:5rem;
	margin-bottom:5rem;

}

#about h3{
	text-align:center;
	margin-top:1.9rem;
}


.section p{
	text-align:center;
	width:50%;
	margin:0 auto;
	margin-top:1.9rem;
}

.carousel {
  width:800px;
  height:480px;
  margin:0 auto;
  margin-bottom:15rem;
}


.maps{
	margin-top: 10rem;
	text-align:center;
}

.maps h3{
	margin-bottom:2rem;
}


.fa-anchor {
	text-align:center;
	color: blue;
}

.fa-truck {
	text-align:center;
	color: blue;

}

.fa-recycle {
	text-align:center;
	color:blue;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



#contact-us {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-weight:500;
	margin:0;
	margin-top: 10rem;
	margin-bottom: 10rem;
	padding-left:40px;

}

#contact-us h2{
	margin-bottom:1.9rem;
}

.contactmaps{
	text-align:center;
	margin-top:10rem;
	padding-right:150px;
}

h2{
	margin-bottom:2rem;
}

img.portfolio {
	max-width:100%;
}
.no-padding .col-md-6 {
	padding: 0;
}
.card{
	margin: 2rem;
	margin-top:10rem;
}
.footer .row{
	margin-top:10rem;
	background-color: #505962;
	padding: 1rem 2rem 3rem;
	color:white;
}
.footer img{
	height: 2rem;
	margin:1.5rem 0;
}
a {
  color: #00B7FF;
}

.navbar-brand img {
	height: 2rem;
}

/*--- iOS Landing Page Fix --*/
/*.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}*/
/*.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
*/
