<% layout('/layout') %>
<% block('title', 'Lightning Marine Services')%>
<div class="container-fluid mission" id="about">
	<h3 class="heading">Services We Offer</h3>
	<div class="border"></div>
	
	<main>
		<div class="col col1">
			<i class="fa fa-anchor fa-2x"></i>
			<br>
			<br>
			<h2>Dock Services</h2>
			<ul class="list-group list-group-flush">
  <li class="list-group-item">Storing Gangs/ Labor per hour</li>
  <li class="list-group-item">A/C Repairs/ Service</li>
  <li class="list-group-item">Crane services</li>
  <li class="list-group-item">Procurement</li>
  <li class="list-group-item">Bilge/Vacuum trucks/ Sludge/Slops removal</li>
  <li class="list-group-item">Metal works/ Machine Shop</li>
  <li class="list-group-item">More!</li>
</ul>
</div>


<div class="col col2">
<i class="fas fa-truck fa-2x"></i>
<br>
<br>
<h2>Transportation</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Receiving/Warehouse/Delivery</li>
  <li class="list-group-item">Refrigerated truck for business use/Groceries pickup</li>
  <li class="list-group-item">Freight Forwarding</li>
  <li class="list-group-item">Procurement</li>
  <li class="list-group-item">Medical Supplies</li>
  <li class="list-group-item">Medical transportation services</li>
  <li class="list-group-item">Hot Shot Service (within All Florida Ports)</li>

</div>
<div class="col col3">
<i class="fa fa-recycle fa-2x"></i>
<br>
<br>
<h2>Pest Control</h2>
			<ul class="list-group list-group-flush">
  <li class="list-group-item">Extermination</li>
  <li class="list-group-item">Pest Control</li>
  <li class="list-group-item">Other services available upon request</li>
</main>